[submodule "pmdk"]
	path = pmdk
	url = https://github.com/dimstav23/SPP-pmdk.git
	branch = spp-pm_ptr_bit
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/dimstav23/llvm-project.git
	branch = transaction-handling 
