[submodule "pmdk"]
	path = pmdk
	url = https://github.com/alexandrinapanfil/pmdk.git
	branch = spp-pm_ptr_bit
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/dimstav23/llvm-project.git
	branch = transaction-handling 
[submodule "PMDebugger"]
	path = benchmarks/crash_consistency/PMDebugger
	url = https://github.com/PASAUCMerced/PMDebugger.git
